<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596941782753-jp49a0mrcscm4oq47fpbm26p9ehc7a36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596941782753-jp49a0mrcscm4oq47fpbm26p9ehc7a36</string>
	<key>API_KEY</key>
	<string>AIzaSyCkd1CVYmna8LmNwnHtItsIW8M5KJGZyHg</string>
	<key>GCM_SENDER_ID</key>
	<string>596941782753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackmaring.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-c4159</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-c4159.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596941782753:ios:8f78a7b6208216f51841a0</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-c4159.firebaseio.com</string>
</dict>
</plist>