/* max-width and min-width is the size of the screen not the device----------- */


/* max-device-width and min-device-width is the size of the device not the screen----------- */


/* Desktop and Laptop, min-width equals the container size----------- */


/* min-width, the minimum and up----------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700&display=swap');
:root {
    --red: #F93822;
    --yellow: #FDD20E;
}

@media all and (min-width: 900px) {
    body {
        font-family: 'Montserrat', sans-serif;
        ;
        /*sets a font face to the whole site*/
        font-size: 80px;
        /*sets a font size to the whole site*/
        line-height: 1em;
        /*sets a font height or leading to the whole site*/
        color: black;
        /*sets a font color to the whole site*/
    }
    #mobileIndexContainer {
        display: none;
    }
    #mobileAboutContainer {
        display: none;
    }
    #mobileMenuContainer {
        display: none;
    }
    #mobileContactContainer {
        display: none;
    }
    .redBorder {
        border-width: 2px;
        border-color: red;
        border-style: solid;
    }
    #indexContainer {
        margin: 0 auto;
        width: 100%;
        height: 1310px;
    }
    #indexBodyContainer {
        width: 100%;
        height: 850px;
    }
    #aboutContainer {
        margin: 0 auto;
        width: 100%;
        height: 1565px;
    }
    #aboutBodyContainer {
        width: 100%;
        height: 1105px;
    }
    #menuContainer {
        margin: 0 auto;
        width: 100%;
        height: 10813px;
    }
    #menuBodyContainer {
        width: 100%;
        height: 10135px;
    }
    #contactContainer {
        margin: 0 auto;
        width: 100%;
        height: 1040px;
    }
    #contactBodyContainer {
        width: 100%;
        height: 580px;
    }
    .rightContainer {
        width: 16%;
        height: 100%;
        background-color: var(--red);
        float: right;
    }
    .leftContainer {
        width: 84%;
        height: 100%;
        left: 0;
        position: absolute;
    }
    .mobileHeader {
        display: none;
    }
    .header {
        width: 100%;
        height: 110px;
        background-color: var(--yellow);
    }
    .logoContainer {
        padding-top: 10px;
        width: 19%;
        height: 100%;
    }
    .logoTextWrapper {
        padding-top: 15px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    .logoTextWrapper p {
        line-height: 1.2em;
    }
    .headerNavbar {
        width: 555px;
        height: 110px;
        background-color: white;
        left: 19%;
        top: 0;
        position: absolute;
    }
    .activeNavbarCell {
        width: 25%;
        height: 100%;
        background-color: var(--yellow);
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: center;
        line-height: 110px;
        float: left;
    }
    .navbarCell {
        width: 25%;
        height: 100%;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: center;
        line-height: 110px;
        float: left;
    }
    .navbarCell:hover {
        background-color: var(--yellow);
        color: white;
    }
    .contentContainer {
        width: 81%;
        left: 19%;
        position: relative;
    }
    .contentContainerText {
        margin-top: 90px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 80px;
        font-weight: 400;
        line-height: .95em;
    }
    .contentContainerText2 {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 80px;
        font-weight: 400;
        line-height: .95em;
    }
    .regularTextWeight {
        font-weight: 400;
    }
    #menuButton {
        margin-top: 30px;
        width: 155px;
        height: 40px;
        background-color: var(--red);
        border-radius: 10px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        letter-spacing: normal;
        text-align: center;
        line-height: 40px;
    }
    #menuButton:hover {
        background-color: var(--yellow);
    }
    #indexButtonContainer {
        margin-top: 190px;
        width: 100%;
        height: 260px;
        display: flex;
        justify-content: space-evenly;
    }
    .indexButton {
        width: 260px;
        height: 260px;
        background-color: var(--red);
        border-radius: 10px;
    }
    .indexButton:hover {
        background-color: var(--yellow);
    }
    .indexButtonTextContainer {
        float: right;
        margin-top: 75px;
        width: 195px;
        height: 50px;
        background-color: white;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        text-align: center;
        line-height: 50px;
    }
    .aboutTextContainer {
        margin-top: 30px;
        width: 590px;
    }
    .aboutText {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 1.6em;
    }
    .aboutImagesContainer {
        margin-top: 140px;
        width: 100%;
        height: 235px;
        display: flex;
        justify-content: space-evenly;
    }
    .aboutImage {
        width: 365px;
        height: 235px;
    }
    .menuWrapper {
        width: 445px;
    }
    .topMenuLabelText {
        margin-top: 30px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .menuLabelText {
        margin-top: 15px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .menuDescriptionText {
        margin-top: 10px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 1.3em;
        font-style: italic;
    }
    .menuPriceListText {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 1.3em;
        font-style: italic;
    }
    .marginTop5px {
        margin-top: 5px;
    }
    .box90px {
        height: 90px;
    }
    form {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: var(--red);
    }
     ::placeholder {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: var(--red);
    }
    input {
        padding: 15px 15px 15px 45px;
        width: 680px;
        font-family: 'Montserrat', sans-serif;
        border: 4px solid var(--red);
        border-radius: 10px;
    }
    input:hover {
        border: 4px solid rgba(249, 56, 34, 0.5);
    }
    textarea {
        padding: 15px 15px 15px 45px;
        width: 680px;
        height: 130px;
        font-family: 'Montserrat', sans-serif;
        border: 4px solid var(--red);
        border-radius: 10px;
    }
    textarea:hover {
        border: 4px solid rgba(249, 56, 34, 0.5);
    }
    #submit {
        padding: 15px;
        width: 340px;
        background-color: var(--red);
        color: white;
        font-family: 'Montserrat', sans-serif;
        border: 4px solid var(--red);
    }
    #submit:hover {
        background-color: white;
        color: var(--red);
        opacity: 0.5;
    }
    .box20px {
        height: 5px;
    }
    .box30px {
        height: 30px;
    }
    .footerTextWrapper {
        padding-top: 50px;
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: space-evenly;
    }
    .footerInfoWrapper {
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    .cityName {
        font-size: 30px;
        font-weight: bold;
        line-height: 1em;
    }
    .restaurantInfo {
        padding-top: 15px;
        font-size: 15px;
        line-height: 1em;
    }
    .copyrightTextWrapper {
        padding-top: 36px;
        width: 100%;
        bottom: 0;
        text-align: center;
        position: relative;
        line-height: .5em;
    }
    .copyrightText {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
    .footer {
        width: 100%;
        height: 260px;
        background-color: var(--yellow);
    }
}


/* iPads (portrait and landscape), max-width equals the container size of the desktop version, 2 columns----------- */


/* min-width, the minimum and up----------- */


/* max-width, the maximum and less----------- */

@media all and (min-width: 715px) and (max-width: 900px) {
    body {
        font-family: 'Montserrat', sans-serif;
        ;
        /*sets a font face to the whole site*/
        font-size: 80px;
        /*sets a font size to the whole site*/
        line-height: 1em;
        /*sets a font height or leading to the whole site*/
        color: black;
        /*sets a font color to the whole site*/
    }
    #container {
        width: 90%;
        /*sets the width of your site*/
        margin: 0 auto;
        /*gets rid of any default browser margins and centers the container*/
    }
    .mobileAboutImageContainer {
        margin-top: 70px;
        height: 180px;
        object-fit: cover;
    }
}


/* Smartphones (portrait and landscape), max-width equals the min-width of the ipad version, 1 column----------- */


/* max-width, the maximum and less----------- */

@media all and (max-width: 715px) {
    body {
        font-family: 'Montserrat', sans-serif;
        ;
        /*sets a font face to the whole site*/
        font-size: 80px;
        /*sets a font size to the whole site*/
        line-height: 1em;
        /*sets a font height or leading to the whole site*/
        color: black;
        /*sets a font color to the whole site*/
    }
    #container {
        width: 90%;
        /*sets the width of your site*/
        margin: 0 auto;
        /*gets rid of any default browser margins and centers the container*/
    }
    img {
        max-width: 100%;
    }
    .redBorder {
        border-width: 2px;
        border-color: red;
        border-style: solid;
    }
    #indexContainer {
        display: none;
    }
    #aboutContainer {
        display: none;
    }
    #menuContainer {
        display: none;
    }
    #contactContainer {
        display: none;
    }
    .mobileHeader {
        width: 100%;
        height: 70px;
    }
    .mobileNavbarElement {
        width: 25%;
        height: 100%;
        background-color: var(--yellow);
        line-height: 100%;
        text-align: center;
        float: left;
    }
    .mobileNavbarElement:hover {
        background-color: white;
    }
    .mobileNavbarElement:hover .mobileNavbarText {
        color: black;
    }
    .mobileNavbarText {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: white;
        font-weight: 300;
    }
    #mobileActivePage {
        background-color: white;
        color: black;
        width: 25%;
        height: 100%;
        line-height: 100%;
        text-align: center;
        float: left;
    }
    #mobileActivePageText {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: black;
        font-weight: 300;
    }
    #mobileIndexContainer {
        margin: 0 auto;
        width: 100%;
        height: 1310px;
    }
    #mobileAboutContainer {
        margin: 0 auto;
        width: 100%;
        height: 1565px;
    }
    #mobileMenuContainer {
        margin: 0 auto;
        width: 100%;
        height: 10813px;
    }
    #mobileContactContainer {
        margin: 0 auto;
        width: 100%;
        height: 500px;
    }
    .mobileContentContainer {
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .mobileContentContainerHeaderText {
        margin-top: 130px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 400;
        line-height: .95em;
    }
    .mobileContentContainerHeaderText2 {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 400;
        line-height: .95em;
    }
    #mobileMenuButton {
        margin-top: 15px;
        width: 90px;
        height: 30px;
        background-color: var(--red);
        border-radius: 10px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        letter-spacing: normal;
        text-align: center;
        line-height: 30px;
    }
    #mobileMenuButton:hover {
        background-color: var(--yellow);
    }
    .box130px {
        height: 130px;
    }
    .box100px {
        height: 100px;
    }
    .mobileIndexButton {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 215px;
        height: 215px;
        background-color: var(--red);
        border-radius: 10px;
    }
    .mobileIndexButton:hover {
        background-color: var(--yellow);
    }
    .mobileIndexButtonTextContainer {
        float: right;
        margin-top: 60px;
        width: 170px;
        height: 50px;
        background-color: white;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        text-align: center;
        line-height: 50px;
    }
    .aboutParagraphWrapper {
        margin-top: 15px;
        font-size: 17px;
        line-height: 1.8em;
    }
    .mobileAboutImageContainer {
        margin-top: 70px;
        height: 180px;
        object-fit: cover;
    }
    .contentContainerText {
        margin-top: 90px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 400;
        line-height: .95em;
    }
    .topMenuLabelText {
        margin-top: 30px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .menuLabelText {
        margin-top: 15px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .menuDescriptionText {
        margin-top: 10px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 1.3em;
        font-style: italic;
    }
    .menuPriceListText {
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 1.3em;
        font-style: italic;
    }
    .marginTop5px {
        margin-top: 5px;
    }
    form {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: var(--red);
    }
     ::placeholder {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: var(--red);
    }
    input {
        padding: 15px 15px 15px 45px;
        width: 250px;
        font-family: 'Montserrat', sans-serif;
        border: 4px solid var(--red);
        border-radius: 10px;
    }
    input:hover {
        border: 4px solid rgba(249, 56, 34, 0.5);
    }
    textarea {
        padding: 15px 15px 15px 45px;
        width: 250px;
        height: 130px;
        font-family: 'Montserrat', sans-serif;
        border: 4px solid var(--red);
        border-radius: 10px;
    }
    textarea:hover {
        border: 4px solid rgba(249, 56, 34, 0.5);
    }
    #submit {
        padding: 15px;
        width: 250px;
        background-color: var(--red);
        color: white;
        font-family: 'Montserrat', sans-serif;
        border: 4px solid var(--red);
    }
    #submit:hover {
        background-color: white;
        color: var(--red);
        opacity: 0.5;
    }
    .box20px {
        height: 5px;
    }
    .box30px {
        height: 30px;
    }
    .mobileFooter {
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 50px;
        width: 100%;
        background-color: var(--yellow);
    }
    .mobileCityName {
        margin-top: 10px;
        font-size: 28px;
        font-weight: bold;
        line-height: 1em;
        color: white;
    }
    .mobileRestaurantInfo {
        padding-top: 15px;
        font-size: 14px;
        line-height: 1em;
        color: white;
    }
}


/* Sizes of different screens */


/* Smartphones (portrait and landscape) ----------- max-width: 500px and less */


/* iPads (portrait and landscape) ----------- 500px–900px */


/* Desktops and laptops ----------- min-width: 900-980px */


/* Large screens ----------- min-width: 980px and up */